<div id="follow-icons">
    <a href="{{twitter_url}}" target="_blank"><i class="el el-twitter el-2x el-fw"></i></a>
    <a href="http://github.com/ElenesGu" target="_blank"><i class="el el-github el-2x el-fw"></i></a>
    <a href="https://www.linkedin.com/notifications/" target="_blank"><i class="el el-linkedin el-2x el-fw"></i></a>
    <a href="mailto:me@elenesgu.dev" target="_blank"><i class="el el-envelope el-2x el-fw"></i></a>
</div>
